div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
}

button:hover {
    cursor: pointer;
}

button {
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: solid 1px;
    padding: 10px;
    width: 70px;
    outline: none;
}

input {
    text-align: center;
    width: fit-content;
    max-width: 50px;
    height: 25px;
}